# Executable cli binary
bin/

cache/
out/
lib/

# Localhost and run-latest deploy scripts
**/records/**/**/run-latest.json
localhost/*/records/
**/records/**/**/dry-run/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out/

/.idea/

yarn-error.log

.env.local

.gitmodules

.DS_Store
